
	


<div class="board">

	<div class="grid">
		<button class="dummyPiece" *ngFor="let piece of dummyPieces" (click)="clickDummyPiece(piece)" [style.left]="(piece.position[1]-1.5)*pieceSize+'px'"
			[style.bottom]="((piece.position[0]-1.5)*pieceSize + (piece.position[0] > 5 ? 15 : 0))+'px'"
			[class.possibleMove]='isPossibleMove(piece.position)'
			>
    </button>


		<button *ngFor="let piece of pieces" [class.selected]='selectedPiece && selectedPiece.position==piece.position' (click)="clickPiece(piece)"
			[style.left]="(piece.position[1]-1.5)*pieceSize+'px'" [style.bottom]="((piece.position[0]-1.5)*pieceSize + (piece.position[0] > 5 ? 15 : 0))+'px'">
        <img src="resource/img/Pieces/{{piece.team}}/{{piece.name[0]}}.png" alt="">

    </button>


	</div>
</div>

