<div class="board">
	<div class="grid">

		<!-- Dummy Pieces -->
		<div *ngIf="humanMode && selectedPiece && state.playingTeam ==1">
			<button *ngFor="let piece of dummyPieces" (click)="clickDummyPiece(piece)" class="dummyPiece" [class.possibleMove]='isPossibleMove(piece.position)' [style.left]="(piece.position[1]-1.5)*pieceSize+'px'" [style.bottom]="((piece.position[0]-1.5)*pieceSize + (piece.position[0] > 5 ? 15 : 0))+'px'">
			{{piece.position}}
		</button>
		</div>
		<!-- Red Pieces -->
		<button *ngFor="let piece of state.redAgent.myPieces" [class.selected]='selectedPiece && selectedPiece.position==piece.position' (click)="clickRedPiece(piece)" [style.left]="(piece.position[1]-1.5)*pieceSize+'px'" [style.bottom]="((piece.position[0]-1.5)*pieceSize + (piece.position[0] > 5 ? 15 : 0))+'px'">
			<img src="resource/img/pieces/1/{{piece.name[0]}}.png" alt="">
		</button>

		<!-- Black Pieces -->
		<button *ngFor="let piece of state.blackAgent.myPieces" [style.left]="(piece.position[1]-1.5)*pieceSize+'px'" (click)="clickBlackPiece(piece)" [class.possibleMove]='state.playingTeam==1 && isPossibleMove(piece.position)' [style.bottom]="((piece.position[0]-1.5)*pieceSize + (piece.position[0] > 5 ? 15 : 0))+'px'">
			<img src="resource/img/pieces/-1/{{piece.name[0]}}.png" alt="">
		</button>


	</div>
</div>
